<%= render 'update_droppable' %>


var test_add_results = {
  results: JSON.parse("<%= escape_javascript (@words.to_json.html_safe) %>"),
  totalPoints: function() {
    var points = 0
    for (i=0; i < this.results.length; i++){
      for (j=0; j < this.results[i][1].length; j++) {
        letterObject = this.results[i][1][j]
        console.log(letterObject)
        points += calcPointsForLetter(letterObject.letter)
      }
    }
    return points
  },
  addResults: function() {
    for (i=0; i < this.results.length; i++){
      for (j=0; j < this.results[i][1].length; j++) {
        // console.log(this.results[i])
        console.log(this.results[i][1][j])
      }
    }
  }
}

console.log(test_add_results.totalPoints())
// test_add_results.addResults()
// console.log(test_add_results.results)


var player = <%= @player %>
var nextPlayer = function() {
  if (player === 1) {
    return 2
  } else {
    return 1
  }
}()

var hand = '#p' + player + '_hand'
var nextPlayerHand = '#p' + nextPlayer + '_hand'

var add_letters = {
  letters: <%= @letters %>,
  add: function() {
    for (i=0; i < this.letters.length; i++){
      $(hand).children('ul').append(
        "<li><div class='letter'>" + alphabet[this.letters[i]] + "</div></li>"
      )
    }
  }
}

var add_results = {
  results: JSON.parse("<%= escape_javascript (@results.to_json.html_safe) %>"),
  totalPoints: function() {
    var points = 0
    for(i=0; i < this.results.length; i++) {
      points += this.results[i][1]
    }
    return points
  },
  addTotal: function() {
    currentScore = parseInt($(hand).children('.score').text())
    $(hand).children('.score').text(currentScore + this.totalPoints())
  },
  addWords: function() {
    $(hand + ' .successful_words').slideDown()
    $(hand + ' .successful_words .words').prepend("<div class='word_cluster'></div>")
    for(i=0; i < this.results.length; i++) {
      $(hand + ' .word_cluster:first').prepend("<p class='word_result'>" + this.results[i][0] + ": " + this.results[i][1] + "pts</p>")
    }
  }
}

var update_multiplier_divs = {
  coordinates: <%= @coordinate_ids %>,
  update: function() {
    for(i=0; i < this.coordinates.length; i++) {
      coord_div = $('#coordinate_' + this.coordinates[i])
      if (coord_div.hasClass('multiple_div')) {
        coord_div.addClass('taken_multiple')
      }
    }
  }
}

add_results.addTotal()
add_letters.add()

$(hand + ' .word_buttons').slideUp( function() {
  add_results.addWords()
})
$(nextPlayerHand + ' .word_buttons').slideDown()

if (add_results.totalPoints() >= 0) {
  $(hand + ' .letter').removeClass('draggable ui-draggable ui-draggable-handle')
  $(nextPlayerHand + ' .letter').addClass('draggable')
  update_multiplier_divs.update()
}

BindDraggable('.draggable')
dropResetter.reset()