<%= render 'update_droppable' %>

var player = <%= @player %>
var nextPlayer = function() {
  if (player === 1) {
    return 2
  } else {
    return 1
  }
}()

var hand = '#p' + player + '_hand'
var nextPlayerHand = '#p' + nextPlayer + '_hand'

var add_letters = {
  letters: <%= @letters %>,
  add: function() {
    for (i=0; i < this.letters.length; i++){
      $(hand).children('ul').append(
        "<li><div class='letter'>" + alphabet[this.letters[i]] + "</div></li>"
      )
    }
  }
}

// var add_results = {
//   results: JSON.parse("<%= escape_javascript (@results.to_json.html_safe) %>"),
//   totalPoints: function() {
//     var points = 0
//     for(i=0; i < this.results.length; i++) {
//       points += this.results[i][1]
//     }
//     return points
//   },
//   addTotal: function() {
//     currentScore = parseInt($(hand).children('.score').text())
//     $(hand).children('.score').text(currentScore + this.totalPoints())
//   },
//   addWords: function() {
//     $(hand + ' .successful_words').slideDown()
//     $(hand + ' .successful_words .words').prepend("<div class='word_cluster'></div>")
//     for(i=0; i < this.results.length; i++) {
//       $(hand + ' .word_cluster:first').prepend("<p class='word_result'>" + this.results[i][0] + ": " + this.results[i][1] + "pts</p>")
//     }
//   }
// }

var add_results = {
  results: JSON.parse("<%= escape_javascript (@words.to_json.html_safe) %>"),
  wordsToAdd: [],
  finalPoints: 0,

  totalPoints: function() {
    var points = 0
    for (i=0; i < this.results.length; i++){
      var word = this.results[i][0]
      letterObjects = this.results[i][1]
      points += this.pointsForWord(word, letterObjects)
    }
    this.finalPoints = points
  },

  pointsForWord: function(word, letterObjects) {
    var wordPoints = 0
    var wordMult = [1]
    var letterMult = 1
    for (j=0; j < letterObjects.length; j++) {
      letter = letterObjects[j]
      multiplier = letter.multiplier
      if (multiplier === 'W') { wordMult.push(letter.multiple) }
      else if (multiplier === 'L') { letterMult = letter.multiple  }
      wordPoints += calcPointsForLetter(letter.letter) * letterMult
    }

    for (k=0; k < wordMult.length; k++) {
      wordPoints *= wordMult[k]
    }

    this.wordsToAdd.push([word, wordPoints])
    return wordPoints
  },

  addTotal: function() {
    currentScore = parseInt($(hand).children('.score').text())
    $(hand).children('.score').text(currentScore + this.finalPoints)
  },

  addWords: function() {
    for (i=0; i<this.wordsToAdd.length; i++) {
      wordObject = this.wordsToAdd[i][0]
      wordPoints = this.wordsToAdd[i][1]
      $(hand + ' .successful_words').slideDown()
      $(hand + ' .word_cluster:first').prepend("<p class='word_result'>" + wordObject.word + ' ' + wordPoints + "pts</p>")
    }
  },

  addClusterDiv: function() {
    $(hand + ' .successful_words .words').prepend("<div class='word_cluster'></div>")
  }
}

var update_multiplier_divs = {
  coordinates: <%= @coordinate_ids %>,
  update: function() {
    for(i=0; i < this.coordinates.length; i++) {
      coord_div = $('#coordinate_' + this.coordinates[i])
      if (coord_div.hasClass('multiple_div')) {
        coord_div.addClass('taken_multiple')
      }
    }
  }
}

add_results.totalPoints()

if (add_results.finalPoints >= 0) {
  console.log(add_results.wordsToAdd)
  add_results.addClusterDiv()
  add_results.addWords()
  add_results.addTotal()
  add_letters.add()

  $(hand + ' .word_buttons').slideUp()
  $(nextPlayerHand + ' .word_buttons').slideDown()
  $(hand + ' .letter').removeClass('draggable ui-draggable ui-draggable-handle')
  $(nextPlayerHand + ' .letter').addClass('draggable')
  update_multiplier_divs.update()
}

BindDraggable('.draggable')
dropResetter.reset()