<%= render 'update_droppable' %>

var player = <%= @player %>
var nextPlayer = function() {
  if (player === 1) {
    return 2
  } else {
    return 1
  }
}()

var hand = '#p' + player + '_hand'
var nextPlayerHand = '#p' + nextPlayer + '_hand'
var points = <%= @points %>

var add_letters = {
  letters: <%= @letters %>,
  add: function() {
    for (i=0; i < this.letters.length; i++){
      $(hand).children('ul').append(
        "<li><div class='letter'>" + alphabet[this.letters[i]] + "</div></li>"
      )
    }
  }
}

var add_points = {
  points: <%= @points %>,
  add: function() {
    currentScore = parseInt($(hand).children('.score').text())
    $(hand).children('.score').text(currentScore + this.points)
  }
}

var add_word = {
  word: "<%= @word %>",
  points: <%= @points %>,
  add: function() {
    $(hand + ' .successful_words').slideDown()
    $(hand + ' .successful_words .words').prepend("<span>" + this.word + ": " + this.points + "pts</span><br>")
  }
}

add_points.add()
add_letters.add()
add_word.add()

$(hand + ' .word_buttons').slideUp()
$(nextPlayerHand + ' .word_buttons').slideDown()


if (points >= 0) {
  $(hand + ' .letter').removeClass('draggable ui-draggable ui-draggable-handle')
  $(nextPlayerHand + ' .letter').addClass('draggable')
}

BindDraggable('.draggable')
dropResetter.reset()